.post {
    background-color: #EAECEF;
    padding: 25px;
    margin: 25px;
    border-radius: 25px;
}
.comment {
    background-color: #cbcbcb;
    padding: 25px;
    margin: 25px;
    min-height: 100px;
    border-radius: 25px;
}